div.hide {
    visibility: hidden;
}

div.pipeline-loading-icon {
    content: url("white-load.gif");
    display: block;
    margin-left: auto;
    margin-right: auto
}

section.pipeline-component h1 {
    font-size: 20px;
    font-weight: bold;
    font-stretch: expanded;
    margin-top: 0;
}

section.pipeline-component h2 {
    font-size: 16px;
    font-weight: bold;
    font-stretch: expanded;
    margin-top: 0;
}

section.pipeline {
    display: table;
    border-collapse: separate;
}

div.changes {
    padding-top: 0;
    margin-bottom: 10px;
    padding-left: 10px;
    display: table;
}

div.changes a {
    text-decoration: none;
    color: inherit;
}

div.changes a:visited {
    color: inherit;
}

div.changes a:hover {
    text-decoration: underline;
}

div.changes h1 {
    font-size: 12px;
    line-height: 12px;
    padding: 0;
    margin-bottom: 5px;
}

div.change {
    clear: both;
    padding-left: 5px;
    display: table-row;
}

div.change-author {
    vertical-align: top;
    min-width: 75px;
    display: table-cell;
    padding-right: 10px;
}

div.change-commit-id {
    vertical-align: top;
    display: table-cell;
    padding-right: 10px;
}

div.change-message {
    display: table-cell;
    padding-left: 10px;
}

div.pipeline-row {
    display: table-row;
    padding: 10px 10px 10px 10px;
}

div.pipeline-cell {
    display: table-cell;
    padding-bottom: 30px;
}

div.stage {
    margin-right: 60px;
    min-width: 180px;
    border: solid 1px #C8C8C8;
    border-radius: 5px;
}

div.stage a {
    text-decoration: none;
    color: inherit;
}

div.stage a:visited {
    color: inherit;
}

div.stage-task {
    white-space: nowrap;
    margin: 2px 2px 2px 2px;
}

div.task-content {
    padding: 3px 3px 3px 3px;
    width: 100%;
}

div.stage-header {
    background: #EEEEEE;
    font-size: 13px;
    font-weight: bold;
    display: table;
    width: 100%;
    white-space: nowrap;
}

.stage-name {
    padding: 8px;
    display: table-cell;
    vertical-align: top;
}

.stage-version {
    padding: 3px 6px 3px 3px;
    display: table-cell;
    float: right;
    vertical-align: top;
}

div.task-header {
    display: table;
    white-space: nowrap;
    width: 100%;
    border: none;
}

div.taskname {
    display: table-cell;
}

div.task-manual {
    display: table-cell;
    background: url("play.png") no-repeat;
    background-size: 75%;
    cursor: pointer;
    height: 14px;
    width: 14px;
    float: right;
    padding-right: 5px;
    z-index: 100;
}

div.task-rebuild {
    display: table-cell;
    background-color: #808080;
    background: url("refresh.png") no-repeat;
    background-size: 75%;
    cursor: pointer;
    height: 14px;
    width: 14px;
    float: right;
    padding-right: 5px;
    z-index: 100;

}

.timestamp {
    display: table-cell;
}

.duration {
    display: table-cell;
    padding-left: 20px;
}

div.task-progress-running {
    background-color: lightskyblue;
    animation-duration: 1s;
    animation-name: bluePulse;
    animation-iteration-count: infinite;

    -webkit-animation-name: bluePulse;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;

}

@keyframes bluePulse {
    0% {
        background-color: #0197fe;
    }
    50% {
        background-color: #2daebf;
    }
    100% {
        background-color: #0197fe;
    }
}

@-webkit-keyframes bluePulse {
    from {
        background-color: #0197fe;
    }
    50% {
        background-color: #2daebf;
    }
    to {
        background-color: #0197fe;
    }
}

.IDLE {
    border-left: 6px solid #d3d3d3;
}

.QUEUED {
    border-left: 6px solid darkblue;
}

.FAILED {
    border-left: 6px solid #8b0000;
    background-color: #ff6347;
}

.SUCCESS {
    border-left: 6px solid #228b22;
}

.UNSTABLE {
    border-left: 6px solid #fcae3f;
    background-color: #fad42e;
    font-weight: bold;
}

.CANCELLED {
    border-left: 6px solid #8b8989;
    background-color: #d3d3d3;
    font-weight: bold;
}

.NOT_BUILT {
    border-left: 6px solid #8b8989;
    background-color: #d3d3d3;
    font-weight: bold;
}

.DISABLED {
    border-left: 6px solid transparent;
    color: #a9a9a9;
}

.RUNNING {
    border-left: 6px solid #0092ef;
}

div.left {
    float: left;
}

div.right {
    float: right;
}

div.clear {
    clear: both;
}

div.pipelineerror {
    background-color: red;
    font-size: 22px;
    color: #ffffff;
    display: none;
}

div.button-start {
    content: url("play.gif");
}

div.pipeline-message {
    font-size: 15px;
    z-index: -50;
}

._jsPlumb_connector {
    z-index: -100;
}

div.infoPanel {
    display:block;
    max-width:300px;
    padding-left:2px;
    padding-right:2px;
    margin-top:-2px;
    border-top:none;
}
div.infoPanelInner {
    padding:8px 4px;
    overflow: hidden;
    border: 0;
}
div.infoPanelInner a {
    font-weight: bold;
}
div.infoPanelOuter {
    margin: 4px 2px 4px 4px;
    border: 1px solid lightgray;
    background-color: #FAF8F8;
}

div.aggregatedChangesPanel {
    display:block;
    max-width:300px;
    padding-left:2px;
    padding-right:2px;
    margin-top:-2px;
    border-top:none;
}

div.aggregatedChangesPanelInner {
    padding:8px 4px;
    overflow: hidden;
    border: 0;
}

div.aggregatedChangesPanelOuter {
    margin: 8px;
    border: 1px solid lightgray;
    background-color: #FAF8F8;
}

div.aggregatedChangesPanelInner > ul {
    padding-left: 1.2em;
}

.MANUALTASK {
    border-right: 6px solid #FFE4E1;
}
.promo-icon {
    padding-left: 2px;
}
.promo-name {
    padding-left: 6px;
}
.promo-user {
    padding-left: 4px;
}
.promo-time {
    padding-left: 24px;
}

.pagination {
	display:block;
	text-align:left;
	height:22px;
	line-height:21px;
	clear:both;	
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:normal;
	margin-bottom:8px;
	margin-left:10px;
}

.pagination a, .pagination a:visited{
	padding:7px;
	padding-top:2px;
	padding-bottom:2px;
	border:1px solid #EBEBEB;
	text-decoration:none;
	background-color:#F5F5F5;
	color:#0072bc;
	width:22px;
	font-weight:normal;
}

.pagination a:hover {
	background-color:#DDEEFF;
	border:1px solid #BBDDFF;
	color:#0072BC;	
}

.pagination .active_link a {
	padding-top:2px;
	padding-bottom:2px;
	border:1px solid #BBDDFF;
	text-decoration:none;
	background-color:#DDEEFF;
	color:#0072BC;
	cursor:default;
}

.pagination .disabled_pagination {
	padding:7px;
	padding-top:2px;
	padding-bottom:2px;
	border:1px solid #EBEBEB;
	margin-left:10px;
	text-decoration:none;
	background-color:#F5F5F5;
	color:#D7D7D7;
	cursor:default;
}

/* New Styles */
time.icon {
    font-size: 1em;
    display: block;
    position: relative;
    min-width: 15em;
    height: 10em;
    background-color: #fff;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius:0.6em;
    box-shadow: 0 0 0 1px #c8c8c8;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-transform: rotate(0deg) skewY(0deg);
    -webkit-transform-origin: 50% 10%;
    transform-origin: 50% 10%;
}

time.icon strong {
    position: absolute;
    top: 0;
    padding: 0.4em 0;
    background-color: #eeeeee;
    font-size:1.5em;
    text-align:center;
    display:block;
    width:100%;
}

time.icon em {
    position: absolute;
    bottom: 0.3em;
    font-size:1.8em;
    border-top: 1px solid #c8c8c8;
    text-align:center;
    display:block;
    width:100%;
}

time.icon span {
    width: 100%;
    font-size: 2.8em;
    letter-spacing: 0em;
    padding-top: 1.2em;
    text-align:center;
    display:block;
    width:100%;
}

.metric .icon {
    font-size: 1em;
    display: block;
    position: relative;
    min-width: 14em;
    background-color: #fff;
    margin-right: 5px;
    margin-bottom: 5px;
    box-shadow: 0 0 0 1px #c8c8c8;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-transform: rotate(0deg) skewY(0deg);
    -webkit-transform-origin: 50% 10%;
    transform-origin: 50% 10%;
    border-radius:0.6em;
}

.metric > .icon > strong {
    position: absolute;
    top: 0;
    padding: 8px 0;
    background-color: #eeeeee;
    font-size:13px;
    text-align:center;
    display:block;
    width:100%;
}

.metric > .icon > em {
    position: absolute;
    bottom: 0.3em;
    font-size:16px;
    border-top: 1px solid #c8c8c8;
    text-align:center;
    display:block;
    width:100%;
    padding:8px 0;
}

.metric > .icon > span {
    width: 100%;
    font-size: 14px;
    letter-spacing: 0em;
    padding-top: 40px;
    padding-bottom:10px;
    padding-left:0px;
    padding-right:0px;
    text-align:center;
    display:block;
    width:100%;
}

.metric > .icon > div.description {
    width: 100%;
    font-size: 14px;
    letter-spacing: 0em;
    padding-top: 40px;
    padding-bottom:10px;
    padding-right:5px;
    text-align:center;
    display:block;
    width:100%;
}

.metric > .icon > span.date {
    font-size: 16px;
}

.metric .icon > table {
    padding-top:3.2em;
}

.metric .icon > table td{
    padding:5px;
    font-size: 13px;
}

.metric .icon > table tr:nth-child(even) td {
    background: #efefef;
}

.metric .icon > table tr:nth-child(odd) td {
    background: #ffffff;
}

.metric .icon > table tr td {
    border-right: 1px solid #c8c8c8;
}

.metric .icon > table tr td:last-child {
    border:none;
}

div.panel {
    min-height: 60px;
    border: solid 1px #C8C8C8;
    border-radius: 5px;
    margin-bottom:10px;
}

div.panel div.panel-header {
    background: #EEEEEE;
    font-size: 13px;
    font-weight: bold;
    display: table;
    width: 100%;
    white-space: nowrap;
}

div.panel div.panel-name {
    display: table-cell;
    padding: 10px 10px 10px 10px;
    font-size:16px;
}

div.panel div.panel-body {
    padding:10px;
}