body {
    font-family: sans-serif;
}

section.pipe {
    display: block;
    background-color: #f0f0f0;
    border-radius: 20px;
    padding: 10px;
    margin: 20px;
}

section.pipe h1 {
    font-size: large;
    font-weight: bold;
    font-stretch: expanded;
    margin-top: 0;
}

section.stage {
    display: inline-block;
    min-height: 100px;
    min-width: 180px;
    vertical-align: top;
    background: white;
    border-radius: 10px;
    border: solid 2px black;
    padding: 0;
    margin: 0 5px;
}

section.stage h1 {
    font-size: medium;
    border-bottom: black solid 2px;
    margin: 0;
    padding: 5px 10px;
}

section.stage ul {
    list-style-type: none;
    margin: 5px 5px;
    padding-left: 0;
}

section.stage ul li {
    border-radius: 3px;
    margin-bottom: 1px;
    padding-left: 5px;
}

section.stage ul li a {
    text-decoration: none;
    color: inherit;
}

section.stage ul li a:visited {
    color: inherit;
}

section.stage ul li a:hover {
    text-decoration: underline;
}

section.stage ul li.FAILED {
    background-color: tomato;
}

section.stage ul li.SUCCESS {
    background-color: lightgreen;
}

section.stage ul li.UNSTABLE {
    background-color: orange;
}

section.stage ul li.DISABLED {
    background-color: lightgray;
}

section.stage ul li.RUNNING {
    background: url("../images/running.gif") no-repeat right;
}