div.hide {
    visibility: hidden;
}

div.pipeline-loading-icon {
    content: url("white-load.gif");
    display: block;
    margin-left: auto;
    margin-right: auto
}

section.pipeline-component h1 {
    font-size: 20px;
    font-weight: bold;
    font-stretch: expanded;
    margin-top: 0;
}

section.pipeline-component h2 {
    font-size: 16px;
    font-weight: bold;
    font-stretch: expanded;
    margin-top: 0;
}

section.pipeline {
    display: table;
    border-collapse: separate;
}

div.changes {
    padding-top: 0;
    margin-bottom: 10px;
    padding-left: 10px;
    display: table;
}

div.changes a {
    text-decoration: none;
    color: inherit;
}

div.changes a:visited {
    color: inherit;
}

div.changes a:hover {
    text-decoration: underline;
}

div.changes h1 {
    font-size: 12px;
    line-height: 12px;
    padding: 0;
    margin-bottom: 5px;
}

div.change {
    clear: both;
    padding-left: 5px;
    display: table-row;
}

div.change-author {
    vertical-align: top;
    min-width: 75px;
    display: table-cell;
    padding-right: 10px;
}

div.change-commit-id {
    vertical-align: top;
    display: table-cell;
    padding-right: 10px;
}

div.change-message {
    display: table-cell;
    padding-left: 10px;
}

div.pipeline-row {
    display: table-row;
    padding: 10px 10px 10px 10px;
}

div.pipeline-cell {
    display: table-cell;
    padding-bottom: 30px;
}

div.stage {
    margin-right: 60px;
    min-width: 180px;
    border: solid 1px #C8C8C8;
    border-radius: 5px;
}

div.stage a {
    text-decoration: none;
    color: inherit;
}

div.stage a:visited {
    color: inherit;
}

div.stage-task {
    white-space: nowrap;
    margin: 2px 2px 2px 2px;
}

div.task-content {
    padding: 3px 3px 3px 3px;
    width: 100%;
}

div.stage-header {
    background: #EEEEEE;
    font-size: 13px;
    font-weight: bold;
    display: table;
    width: 100%;
    white-space: nowrap;
}

.stage-name {
    padding: 8px;
    display: table-cell;
    vertical-align: top;
}

.stage-version {
    padding: 3px 6px 3px 3px;
    display: table-cell;
    float: right;
    vertical-align: top;
}

div.task-header {
    display: table;
    white-space: nowrap;
    width: 100%;
    border: none;
}

div.taskname {
    display: table-cell;
}

div.task-manual {
    display: table-cell;
    background: url("play.png") no-repeat;
    background-size: 75%;
    cursor: pointer;
    height: 14px;
    width: 14px;
    float: right;
    padding-right: 5px;
    z-index: 100;
}

div.task-rebuild {
    display: table-cell;
    background-color: #808080;
    background: url("refresh.png") no-repeat;
    background-size: 75%;
    cursor: pointer;
    height: 14px;
    width: 14px;
    float: right;
    padding-right: 5px;
    z-index: 100;

}

.timestamp {
    display: table-cell;
}

.duration {
    display: table-cell;
    padding-left: 20px;
}

div.task-progress-running {
    background-color: lightskyblue;
    animation-duration: 1s;
    animation-name: bluePulse;
    animation-iteration-count: infinite;

    -webkit-animation-name: bluePulse;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;

}

@keyframes bluePulse {
    0% {
        background-color: #0197fe;
    }
    50% {
        background-color: #2daebf;
    }
    100% {
        background-color: #0197fe;
    }
}

@-webkit-keyframes bluePulse {
    from {
        background-color: #0197fe;
    }
    50% {
        background-color: #2daebf;
    }
    to {
        background-color: #0197fe;
    }
}

.IDLE {
    border-left: 6px solid #d3d3d3;
}

.QUEUED {
    border-left: 6px solid darkblue;
}

.FAILED {
    border-left: 6px solid #8b0000;
    background-color: #ff6347;
}

.SUCCESS {
    border-left: 6px solid #228b22;
}

.UNSTABLE {
    border-left: 6px solid #fcae3f;
    background-color: #fad42e;
    font-weight: bold;
}

.CANCELLED {
    border-left: 6px solid #8b8989;
    background-color: #d3d3d3;
    font-weight: bold;
}

.NOT_BUILT {
    border-left: 6px solid #8b8989;
    background-color: #d3d3d3;
    font-weight: bold;
}

.DISABLED {
    border-left: 6px solid transparent;
    color: #a9a9a9;
}

.RUNNING {
    border-left: 6px solid #0092ef;
}

div.left {
    float: left;
}

div.right {
    float: right;
}

div.clear {
    clear: both;
}

div.pipelineerror {
    background-color: red;
    font-size: 22px;
    color: #ffffff;
    display: none;
}

div.button-start {
    content: url("play.gif");
}

div.pipeline-message {
    font-size: 15px;
    z-index: -50;
}

._jsPlumb_connector {
    z-index: -100;
}

div.infoPanel {
    display:block;
    max-width:300px;
    padding-left:2px;
    padding-right:2px;
    margin-top:-2px;
    border-top:none;
}
div.infoPanelInner {
    padding:8px 4px;
    overflow: hidden;
    border: 0;
}
div.infoPanelInner a {
    font-weight: bold;
}
div.infoPanelOuter {
    margin: 4px 2px 4px 4px;
    border: 1px solid lightgray;
    background-color: #FAF8F8;
}
.MANUALTASK {
    border-right: 6px solid #FFE4E1;
}
.promo-icon {
    padding-left: 2px;
}
.promo-name {
    padding-left: 6px;
}
.promo-user {
    padding-left: 4px;
}
.promo-time {
    padding-left: 24px;
}
