body {
    font-family: sans-serif;
}

section.component {
    display: block;
    padding: 10px;
    margin: 20px;
}

section.component h1 {
    font-size: 20px;
    font-weight: bold;
    font-stretch: expanded;
    margin-top: 0;
}

section.pipeline {
    display: table;
    margin: 10px;
}

section.pipeline img {
    height: 18px;
}

section.pipeline h1 {
    font-size: 15px;
    font-weight: bold;
    font-stretch: expanded;
    margin-top: 0;
}

div.changes {
    padding-top: 0;
    margin-bottom: 10px;
    padding-left: 10px;
    display: table;
}

div.changes a {
    text-decoration: none;
    color: inherit;
}

div.changes a:visited {
    color: inherit;
}

div.changes a:hover {
    text-decoration: underline;
}

div.changes h1 {
    font-size: 14px;
    line-height: 14px;
    padding: 0;
    margin-bottom: 5px;
}

div.change {
    clear: both;
    padding-left: 5px;
    display: table-row;
}

div.change-author {
    vertical-align: top;
    min-width: 75px;
    display: table-cell;
}

div.change-message {
    display: table-cell;
    padding-left: 10px;
}

div.stage {
    display: inline-block;
    min-height: 100px;
    min-width: 180px;
    vertical-align: top;
    background: white;
    border-radius: 7px;
    border: solid 2px black;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    border: solid 1px #C8C8C8 ;
    margin: 0 60px 0 0;
}

div.stage div.stage-header {
    font-size: medium;
    border-bottom: black solid 2px;
    border-bottom: solid 1px #C8C8C8;
    background: #E8E8E8;
    margin: 0;
    margin-bottom: 3px;
    height: 20px;
    white-space: nowrap;
    display: table;
    width: 100%;
}

div.stage div.task {
    display: block;
    margin: 0 5px 1px 5px;
    padding-left: 5px;
}


div.task-progress {
    position: relative;
    height: 30px;
    width: 0;
    background-color: lightskyblue;
    animation-duration: 1s;
    animation-name: bluePulse;
    animation-iteration-count: infinite;

    -webkit-animation-name: bluePulse;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;

}

@keyframes bluePulse {
    0% { background-color: #0197fe; }
    50% { background-color: #2daebf;}
    100% { background-color: #0197fe;}
}

@-webkit-keyframes bluePulse {
    from { background-color: #0197fe; }
    50% { background-color: #2daebf; }
    to { background-color: #0197fe; }
}


div.task-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    margin-left: 2px;
    margin-top: 2px;
}


div.taskname {
    position: relative;
}

div.stage a {
    text-decoration: none;
    color: inherit;
}

div.stage a:visited {
    color: inherit;
}

div.stage a:hover {
    text-decoration: underline;
}

.stage-version {
    display: table-cell;
    text-align: right;
    padding: 3px 10px 3px 3px;
}

.stage-name {
    display: table-cell;
    padding: 3px 3px 3px 10px;
}

.IDLE {
    border-left: 6px solid #d3d3d3;
}

.QUEUED {
    border-left: 6px solid #0092ef;
}

.FAILED {
    border-left: 6px solid #8b0000;
    background-color: #ff6347;
    font-weight: bold;
}

.SUCCESS {
    border-left: 6px solid #228b22;
}

.UNSTABLE {
    border-left: 6px solid #fcae3f;
    background-color: #fad42e;
    font-weight: bold;
}

.CANCELLED {
    border-left: 6px solid #8b8989;
    background-color: #d3d3d3;
    font-weight: bold;
}

.DISABLED {
    border-left: 6px solid transparent;
    color: #a9a9a9;
}

.RUNNING {
    border-left: 6px solid #0092ef;
}

span.timestamp {
    display: inline-block;
    font-size: 0.8em;
    font-weight: lighter;
}

span.duration {
    display: inline-block;
    font-size: 0.8em;
    margin-left: 15px;
    font-weight: lighter;
}

section.legend {
    display: block;
    margin-left: 30px;
}

section.legend h1 {
    display: inline;
    font-size: medium;
    font-weight: normal;
    margin-right: 10px;
}

section.legend span {
    display: inline-block;
    border-radius: 3px;
    margin: 0 5px;
    padding: 1px 5px;
    min-width: 75px;
}

div.hide {
    visibility: hidden;
}

div.pipeline-row {
    display: table-row;
    white-space: nowrap;
}

div.pipeline-row-spacer {
    white-space: nowrap;
    height: 20px;
}

div.pipeline-cell {
    display: table-cell;
    width: auto;
    padding: 0 60px 0 0;
}

div.pipelineerror {
    background-color: red;
    font-size: 22px;
    color: #ffffff;
    display: none;
}

div.pipeline-message {
    font-size: 15px;
}

div.left {
    float: left;
}

div.right {
    float: right;
}

div.clear {
    clear: both;
}
