body {
    font-family: sans-serif;
    background: #000000;
    color: #fefefe;
    font-size: 14px;
}

div.pipeline-loading-icon {
    content: url("dark-load.gif");
}

section.pipeline-component {
    padding-left: 20px;
}

section.pipeline-component h1 {
    font-size: 38px;
    font-weight: bold;
}

section.pipeline-component h2 {
    font-size: 24px;
}

div.changes h1 {
    font-size: 14px;
}

div.stage {
    border-radius: 0;
    border: solid #404040 1px;
    background: #404040;
}

div.stage-header {
    background: #808080;
    border-bottom: solid #808080 1px;
}

div.stage-task {
    min-height: 36px;
}

div.task-progress {
    min-height: 36px;
}

.stage-name {
    padding: 10px 10px 10px 10px;
}

.stage-version {
    padding: 10px 10px 10px 10px;
}

.timestamp {
    font-size: 12px;
}

.duration {
    font-size: 12px;
}

.pipeline-message {
    position: fixed;
    font-size: 36px;
    top: 50%;
    left: 50%;
    width: 30em;
    height: 18em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
}

.pipeline-message a:visited {
    color: inherit;
}

.IDLE {
    border-left: 6px solid #d3d3d3;
}

.QUEUED {
    border-left: 6px solid #2e6e9e;
}

.FAILED {
    border-left: 6px solid red;
    font-weight: bold;
    color: red;
    background-color: inherit;
}

.SUCCESS {
    border-left: 6px solid #228b22;
    background-color: inherit;
}

.UNSTABLE {
    border-left: 6px solid #fcae3f;
    font-weight: bold;
    color: #fcae3f;
    background-color: inherit;
}

.CANCELLED {
    border-left: 6px solid #8b8989;
    font-weight: bold;
    background-color: inherit;
}

.NOT_BUILT {
    border-left: 6px solid #8b8989;
    font-weight: bold;
    background-color: inherit;
}

.DISABLED {
    border-left: 6px solid transparent;
    color: #a9a9a9;
    background-color: inherit;
}

.RUNNING {
    border-left: 6px solid #0092ef;
}

svg.relation path {
    stroke: #fefefe;
    stroke-width: 3;
}

div.infoPanel {
    border: none;
    background: none;
}

div.infoPanelOuter {
    color: #fefefe;
    background-color: #646060;
    border: 1px solid darkgray;
}
