a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

body {
    font-family: sans-serif;
    background: #000000;
    color: #fefefe;
}

section.component {
    display: block;
    background: #000000;
    border-radius: 20px;
    padding: 10px;
    margin: 20px;
}

section.component h1 {
    font-size: 36px;
    font-weight: bold;
    font-stretch: expanded;
    margin-top: 0;
}

div.pipeline-row {
    display: table-row;
    white-space: nowrap;
    margin-top: 20px;
}


section.pipeline {
    display: table;
    margin: 10px;
}

section.pipeline img {
    height: 18px;
}


section.pipeline h1 {
    font-size: 18px;
    font-weight: bold;
    font-stretch: expanded;
    margin-top: 0;
}

div.changes {
    padding-top: 0;
    padding-bottom: 10px;
    padding-left: 20px;
}

div.changes h1 {
    font-size: 14px;
    line-height: 14px;
    padding: 0;
    margin: 0;
}


div.change {
    clear: both;
    padding-left: 5px;
}

div.change-author {
    display: inline-block;
}

div.change-message {
    display: inline-block;
    padding-left: 10px;
}


section.stage {
    display: inline-block;
    min-height: 100px;
    min-width: 180px;
    vertical-align: top;
    background: #404040;
    margin: 0 30px 60px;
}

section.stage h1 {
    font-size: medium;
    margin: 0;
    margin-bottom: 3px;
    padding: 5px 10px;
    border: 0;
    background: #808080;
}

section.stage div.task {
    display: block;
    margin: 0 5px 2px 5px;
    padding-left: 5px;
}

section.stage a {
    text-decoration: none;
    color: inherit;
}

section.stage a:visited {
    color: inherit;
}

section.stage a:hover {
    text-decoration: underline;
}

.stage-version {
    float: right;
}

section.hide {
    visibility: hidden;
}

.IDLE {
    border-left: 7px solid #d3d3d3;
    color: lightgray;
}


.FAILED {
    border-left: 7px solid #fe0000;
    color: #fe0000;
    font-weight: 700;
}

.SUCCESS {
    border-left: 7px solid #00AC00;
    color: #d3d3d3;
}

.UNSTABLE {
    border-left: 7px solid #ffdb00;
    color: #ffdb00;
    font-weight: bold;
}

.CANCELLED {
    border-left: 7px solid #a9a9a9;
    color: #a9a9a9;
    font-weight: bold;
}

.DISABLED {
    border-left: 6px solid transparent;
    color: #a9a9a9;
}

.QUEUED {
    border-left: 7px solid #0197fe;
    color: lightgray;
}

.RUNNING {
    background: url("running.gif") no-repeat right;
    border-left: 6px solid #0197fe;
    color: lightgray;
}

span.timestamp {
    display: inline-block;
    font-size: 10px;
    color: #f5f5f5;
}

span.duration {
    display: inline-block;
    font-size: 10px;
    margin-left: 15px;
    color: #f5f5f5;
}

section.legend {
    display: block;
    margin-left: 30px;
}

section.legend h1 {
    display: inline;
    font-size: medium;
    font-weight: normal;
    margin-right: 10px;
}

section.legend span {
    display: inline-block;
    border-radius: 3px;
    margin: 0 5px;
    padding: 1px 5px;
    min-width: 75px;
}

div.pipelineerror {
    text-align: center;
    background-color: red;
    font-size: 22px;
    color: #ffffff;
    border-radius: 5px;
    padding: 5px;
    display: none;
}

div.pipeline-message {
    font-size: 20px;
    text-align: center;
}

div.left {
    float: left;
}

div.right {
    float: right;
}

div.clear {
    clear: both;
}

svg.relation path {
    stroke: #fefefe;
    stroke-width:3;
}