.timestamp {
    font-size: 9px;
}

.duration {
    font-size: 9px;
}

div.taskname {
    display: table-cell;
    font-size: 14px;
    font-weight: normal;
}



div.stage-task {
    min-height: 36px;
}

div.pipeline-main {
    padding: 10px;
    border-width: 0 1px 1px;
    border-style: none solid solid;
    border-color: #BBBBBB;

}

