body {
    font-family: sans-serif;
}

section.component {
    display: block;
    background-color: #f0f0f0;
    border-radius: 20px;
    padding: 10px;
    margin: 20px;
}

section.component h1 {
    font-size: large;
    font-weight: bold;
    font-stretch: expanded;
    margin-top: 0;
}

section.pipe {
    display: block;
    background-color: #f0f0f0;
    margin: 10px;
}

section.pipe img {
    height: 18px;
}

section.pipe h1 {
    font-size: 18px;
    font-weight: bold;
    font-stretch: expanded;
    margin-top: 0;
}

section.stage {
    display: inline-block;
    min-height: 100px;
    min-width: 180px;
    vertical-align: top;
    background: white;
    border-radius: 10px;
    border: solid 2px black;
    padding: 0 3px 3px 0px;
    margin: 0 5px;
}

section.stage h1 {
    font-size: medium;
    border-bottom: black solid 2px;
    margin: 0;
    margin-bottom: 3px;
    padding: 5px 10px;
}

section.stage div.task {
    display: block;
    border-radius: 3px;
    margin: 0 5px 1px 5px;
    padding-left: 5px;
}

section.stage a {
    text-decoration: none;
    color: inherit;
}

section.stage a:visited {
    color: inherit;
}

section.stage a:hover {
    text-decoration: underline;
}

.IDLE {
    border-left: 6px solid #d3d3d3;
}

.QUEUED {
    /*background-color: lightgray;*/
    border-left: 6px solid #0092ef;
}

.FAILED {
    border-left: 6px solid #8b0000;
    /*background-color: tomato;*/
    background-color: #ff6347;
    font-weight: bold;
}

.SUCCESS {
    /*background-color: lightgreen;*/
    border-left: 6px solid #228b22;
}

.UNSTABLE {
    /*background-color: orange;*/
    border-left: 6px solid #fcae3f;
    background-color: #fad42e;
    font-weight: bold;
}

.CANCELLED {
    border-left: 6px solid #8b8989;
    background-color: #d3d3d3;
    font-weight: bold;
}

.DISABLED {
    border-left: 6px solid transparent;
    color: #a9a9a9;
}

.RUNNING {
    background: url("running.gif") no-repeat right;
    border-left: 6px solid #0092ef;
}

span.timestamp {
    display: inline-block;
    font-size: 0.8em;
    font-weight: lighter;
}

span.duration {
    display: inline-block;
    font-size: 0.8em;
    margin-left: 15px;
    font-weight: lighter;
}

section.legend {
    display: block;
    margin-left: 30px;
}

section.legend h1 {
    display: inline;
    font-size: medium;
    font-weight: normal;
    margin-right: 10px;
}

section.legend span {
    display: inline-block;
    border-radius: 3px;
    margin: 0 5px;
    padding: 1px 5px;
    min-width: 75px;
}

div.pipelineerror {
    background-color: red;
    font-size: 22px;
    color: #ffffff;
    display: none;
}

div.left {
    float: left;
}

div.right {
    float: right;
}

div.clear {
    clear: both;
}

div.popover {
    display: none;
    position: absolute;
    width: 280px;
    padding: 10px;
    background: #eeeeee;
    color: #000000;
    border: 1px solid #1a1a1a;
    font-size: 90%;
}