<?xml version='1.0' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@1.14">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.0">
    <script>node {
   stage &apos;Commit stage&apos;
   task &apos;Commit stage&apos;
   echo &apos;Hello World 1&apos;
   sleep 2
   
   stage &apos;Test&apos;
   task &apos;Test&apos;
   echo &apos;Hello World 2&apos;
   sleep 3
   
   stage &apos;Deploy&apos;
   task &apos;Deploy&apos;
   echo &apos;Deploying...&apos;
   sleep 2
   exit 1
}</script>
    <sandbox>false</sandbox>
  </definition>
  <triggers/>
</flow-definition>