<?xml version='1.0' encoding='UTF-8'?>
<hudson>
  <disabledAdministrativeMonitors/>
  <version>1.0</version>
  <numExecutors>2</numExecutors>
  <mode>NORMAL</mode>
  <useSecurity>true</useSecurity>
  <authorizationStrategy class="hudson.security.AuthorizationStrategy$Unsecured"/>
  <securityRealm class="hudson.security.SecurityRealm$None"/>
  <disableRememberMe>false</disableRememberMe>
  <projectNamingStrategy class="jenkins.model.ProjectNamingStrategy$DefaultProjectNamingStrategy"/>
  <workspaceDir>${JENKINS_HOME}/workspace/${ITEM_FULLNAME}</workspaceDir>
  <buildsDir>${ITEM_ROOTDIR}/builds</buildsDir>
  <jdks/>
  <viewsTabBar class="hudson.views.DefaultViewsTabBar"/>
  <myViewsTabBar class="hudson.views.DefaultMyViewsTabBar"/>
  <clouds/>
  <scmCheckoutRetryCount>0</scmCheckoutRetryCount>
  <views>
    <hudson.model.AllView>
      <owner class="hudson" reference="../../.."/>
      <name>All</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
    </hudson.model.AllView>
    <se.diabol.jenkins.pipeline.DeliveryPipelineView plugin="delivery-pipeline-plugin@0.9.10-SNAPSHOT">
      <owner class="hudson" reference="../../.."/>
      <name>DPP</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <componentSpecs>
        <se.diabol.jenkins.pipeline.DeliveryPipelineView_-ComponentSpec>
          <name>Pipeline</name>
          <firstJob>Build</firstJob>
          <lastJob></lastJob>
        </se.diabol.jenkins.pipeline.DeliveryPipelineView_-ComponentSpec>
      </componentSpecs>
      <noOfPipelines>3</noOfPipelines>
      <showAggregatedPipeline>false</showAggregatedPipeline>
      <noOfColumns>1</noOfColumns>
      <sorting>none</sorting>
      <showAvatars>false</showAvatars>
      <updateInterval>2</updateInterval>
      <showChanges>false</showChanges>
      <allowManualTriggers>false</allowManualTriggers>
      <showTotalBuildTime>false</showTotalBuildTime>
      <allowRebuild>false</allowRebuild>
      <allowPipelineStart>true</allowPipelineStart>
      <showDescription>false</showDescription>
      <showPromotions>false</showPromotions>
      <showTestResults>false</showTestResults>
      <showStaticAnalysisResults>false</showStaticAnalysisResults>
      <pagingEnabled>false</pagingEnabled>
      <showAggregatedChanges>false</showAggregatedChanges>
      <aggregatedChangesGroupingPattern></aggregatedChangesGroupingPattern>
      <regexpFirstJobs/>
    </se.diabol.jenkins.pipeline.DeliveryPipelineView>
    <se.diabol.jenkins.workflow.WorkflowPipelineView plugin="delivery-pipeline-plugin@0.9.10-SNAPSHOT">
      <owner class="hudson" reference="../../.."/>
      <name>DPP_for_workflow</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <updateInterval>1</updateInterval>
      <noOfColumns>1</noOfColumns>
      <allowPipelineStart>false</allowPipelineStart>
      <showChanges>true</showChanges>
      <project>Pipeline</project>
      <workflowApi>
        <jenkins class="hudson" reference="../../../.."/>
      </workflowApi>
    </se.diabol.jenkins.workflow.WorkflowPipelineView>
  </views>
  <primaryView>All</primaryView>
  <slaveAgentPort>0</slaveAgentPort>
  <label></label>
  <nodeProperties/>
  <globalNodeProperties/>
</hudson>